.childBlock{
    border: 2px solid blue;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

img{
    width: 200px;
    height: 200px;
}
.mainBlock{
    display: flex;
    justify-content: space-between;
   
}